<app-navbar></app-navbar>

<div >
    <div class="card-body">
        <input class="pb-1 me-2" type="text" [(ngModel)]="keyword" (input)="getProducts()">
        <button class="btn btn-outline-success" (click)="getProducts()">Search
            <i class="bi bi-search"></i>
        </button>

    </div>
</div>

<table class="table">
    <thead>
        <th>Name</th>
        <th>Price</th>
        <th>Checked</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>
                <button class="border" (click)="handleCheck(product)">
                    <i [ngClass]="product.checked ? 'bi bi-check-square-fill':'bi bi-circle'"></i>
                </button>
            </td>
            <td>
                <button (click)="handleDelete(product)" class="me-2">
                    <i class="bi bi-trash3-fill"></i>
                </button>
                <button [routerLink]="['/product',product.id]" (click)="handleEdit(product)">
                    <i class="bi bi-pencil-fill"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<!-- 
<div *ngFor="let page of [].constructor(this.totalPages); let i=index">
    <button>{{i}}</button>  
</div>  -->

<ul class="nav nav-pills">
    <li *ngFor="let page of [].constructor(this.totalPages); let i=index">
        <button (click)="goToPage(i+1)" [ngClass]="i+1==this.currentPage ? 'btn btn-success m-1':'btn btn-outline-success m-1'">{{i+1}}</button> 
    </li>
</ul>